{% extends "base.html" %}
{% block form %}
<div class="container text-center my-4 p-3">
    <h1 class="border border-4 rounded-3 p-4"><u>Find Ip is Black Listed Or Not Without Any Ads</u>.</h1>
    <img src="/static/img/22.svg" class="img-fluid" alt="...">
    <!-- <img src="/static/img/undraw_Developer_activity_re_39tg.svg" height="100" class="img-fluid"> -->
    <div class="text-center mt-4 p-3">
        <form action="/call" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="number" required class="form-control" name="ip" placeholder="Enter IP Address"
                    aria-label="Username" aria-describedby="basic-addon1">
                    
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-outline-warning" type="submit">Check Now</button>
            </div>
        </form>
    </div>
</div>
{% endblock form %}